@model PagedList.IPagedList<CentManagerment.BU.DTO.CourseDTO>
@using PagedList.Mvc;

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var controller = "Class";
}

<div class="content-header content-header-wrap">
    <h1 class="fleft">Quản lý khóa học</h1>
    <button class="btn--primary__edit btn--add">@Html.ActionLink("Thêm mới", "InsertView", "CourseManagerment")</button>
    <div class="clearfix"></div>
</div>
<section class="nhanvien" id="nhanvien">
    <div class="section-top3 section-top3-wrap">
        <div class="section-top3__content">
            <div class="row-section">
                <div class="section-top3__control">
                    <form action="" name="control">
                        <div class="form__row-top">
                            <div class="form__row-top__item">
                                <input class="border--base padding" type="text" name="searchString" placeholder="Từ khóa tìm kiếm" value="@ViewBag.searchString " />
                            </div>
                            @*<div class="form__row-top__item">
                                    <div class="section-top__control--fromdate">
                                        <span>
                                            Từ ngày
                                            <div class="fromDate">
                                                <i class="fa fa-calendar"></i>
                                                <input class="padding border--base" id="datepicker1" type="text" required="required" />
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="form__row-top__item">
                                    <div class="section-top__control--todate">
                                        <span>
                                            Đến ngày
                                            <div class="toDate">
                                                <i class="fa fa-calendar"></i>
                                                <input class="padding border--base" id="datepicker2" type="text" required="required" />
                                            </div>
                                        </span>
                                    </div>
                                </div>*@
                            <div class="form__row-top__item">
                                <input class="submit-control border--base" type="submit" value="Lọc" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--.section-top3-wrap-->
    <div class="list-rent__content section-table table-extend doanhnghiep__table">
        <table>
            <tr>
                <th>Mã khóa học</th>
                <th>Tên khóa học</th>
                <th>Thời gian học</th>
                <th>Học phí</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CourseId</td>
                    <td>@item.CourseName</td>
                    <td>@item.CourseTime</td>
                    <td>@item.CousePrice</td>
                    <td>
                        <span class="icon-menu">
                            <i class="fa fa-plus-circle"></i>
                            <ul>
                                <li>@Html.ActionLink("Chỉnh sửa", "UpdateView", new { id = item.CourseId })</li>
                                <li onclick="DeleteCourse(@item.CourseId)">Bỏ thùng rác</li>
                                @*xoa khoa hoc*@
                                <script>
                                    function DeleteCourse(courseId) {
                                        var confirms = confirm("Do you want delete it!");
                                        if (confirms) {
                                            console.log(confirms)
                                            console.log(courseId)
                                            $.ajax({
                                                type: 'POST',
                                                url: "/CourseManagerment/Delete",
                                                data: { courseId },
                                                success: function (result) {
                                                    console.log(result)
                                                    alert("success!");
                                                    location.reload();
                                                }
                                            })
                                        }
                                    }
                                </script>
                            </ul>
                        </span>
                    </td>

                </tr>
            }
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.searchString }))
        @*<div class="list-rent__bottom">
                <div class="list-rent__bottom--content section-buttons text-right">
                    <span class="total-file">147 mục</span>
                    <button><i class="fa fa-angle-double-left"></i></button>
                    <button><i class="fa fa-angle-left"></i></button><span>1 trên 8</span>
                    <button><i class="fa fa-angle-right"></i></button>
                    <button><i class="fa fa-angle-double-right">     </i></button>
                </div>
            </div>*@
    </div>
</section>
