@model  CentManagerment.BU.DTO.NewsDTO
@using CentManagerment.BU.DataManager
@{
    ViewBag.Title = "Sửa bài viết tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="edit-post" id="edit-post">
    <div class="content-header content-header-wrap">
        <h1 class="fleft">Thêm bài viết</h1>
        <div class="fright nav-right"><a href="#"><i class="fa fa-tachometer"></i><span>Home</span></a><i class="fa fa-angle-right"></i><a href="/Admin/News/AddMews"><span>Thêm tin tức</span></a></div>
        <div class="clear-fix"></div>
    </div>
    <!--.content-header-wrap-->
    @Html.Hidden("IdTT", Model.NewsId)
    <div class="content-main">
        <div class="edit-post__content fleft">
            <div class="edit-post__import">
                <div class="edit-post__import--title">
                    <input type="text" name="edit-title" id="new-title" placeholder="Nhập tiêu đề tại đây" value="@Model.NewsTitle" />
                </div>
                <div class="edit-post__import--desc">
                    <legend>Mô tả ngắn</legend>
                    <textarea name="edit-desc" cols="30" rows="10" id="short-content">@Model.NewsShortContent</textarea>
                </div>
                <div class="edit-post__import--ckeditor">
                    <legend>Mô tả chi tiết</legend>
                    <textarea name="main-content" cols="30" rows="10" id="main-content">@Model.NewsContent</textarea>
                    <script>
                        CKEDITOR.replace("main-content");
                    </script>
                </div>
            </div>
        </div>
        <aside class="edit-post__sidebar fright">

            <div class="edit-post__sidebar--avatar edit-box">
                <div class="edit-post__sidebar--title">
                    <p>
                        Ảnh đại diện<span class="fright"><a href="#"><i class="fa fa-caret-up"></i></a></span>
                    </p><div class="clear-fix"></div>
                    <p></p>
                </div>
                <div class="edit-post__sidebar--linkimage">
                    <label for="avatar">Đặt ảnh đại diện</label>
                    <img src="@Model.NewsAvatar" id="avatar-news" />
                    <input type="file" name="avatar" id="avatar-button">
                </div>
            </div>
            <div class="edit-post__sidebar--save edit-box">
                <div class="edit-post__sidebar--bottom">
                    <a class="edit-post__sidebar--button btn--primary__edit fright btn-save" id="btn--save-new">Lưu thay đổi</a>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </aside>
        <div class="clear-fix"></div>
    </div>

</section>