@{ 
    var sessionUser = (CentManagerment.BU.DTO.UserManagerDTO) Session[CentManagerment.BU.Common.CommonUserLogin.USER_SESSION];
    var sessionRole = (List<int>)Session[CentManagerment.BU.Common.CommonUserLogin.USER_LISTROLE];
    var type = "";
}
<!-- Mixins-->
<!-- Start: table-bnqc-->
<!-- End: table-bnqc-->
<!-- Start: section-topbnqc-->
<!-- End: section-topbnqc-->
<!-- Start: tablekm-->
<!-- End: tablekm-->
<!-- Start: section-topkm-->
<!-- End: section-topkm-->
<!-- Start: advertise-content-->
<!-- End: advertise-content-->
<!-- Start: table-nhanvien-->
<!-- End: table-nhanvien-->
<!-- Start: table-taikhoan-->
<!-- End: table-taikhoan-->
<!-- Start: section-top5x-->
<!-- End: section-top5x-->
<!-- Start: table-doanhnghiep-->
<!-- End: table-doanhnghiep-->
<!-- Start: section-top3-->
<!-- End: section-top3-->
<!-- Start: bang-danhmuc-->
<!-- End: bang-danhmuc-->
<!-- Start: row-edit2-->
<!-- End: row-edit2-->
<!-- Start: section-top2-->
<!-- End: section-top2-->
<!-- Start: row-edit-->
<!-- End: row-edit-->
<!-- Start: sidebar-box-->
<!-- End: sidebar-box-->
<!-- Start: content-header-->
<!-- End: content-header-->
<!-- Start: row-table-->
<!-- End: row-table-->
<!-- Start: section-top-->
<!-- End: section-top--><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width-->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <!-- Bootstrap 3.3.7-->
    <link href="~/Assets/admin/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome-->
    <link rel="stylesheet" href="~/Assets/admin/libs/font-awesome/css/font-awesome.min.css" />
    <!-- Ionicons-->
    <link rel="stylesheet" href="~/Assets/admin/libs/Ionicons/css/ionicons.min.css" />
    <!-- Theme style-->
    <link rel="stylesheet" href="~/Assets/admin/libs/editor/summernote.css" />
    <link rel="stylesheet" href="~/Assets/admin/libs/skins/AdminLTE.min.css" />
    <link href="~/Assets/admin/style.css" rel="stylesheet" />
    <!--
    AdminLTE Skins. Choose a skin from the css/skins
    folder instead of downloading all of them to reduce the load.
    -->
    <link rel="stylesheet" href="/Assets/admin/libs/editor/summernote.css" />
    <script src="~/Assets/content/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/content/ckfinder/ckfinder.js"></script>
    <link rel="stylesheet" href="~/Assets/admin/libs/skins/_all-skins.min.css" />
    <!-- jquery-ui-->
    <link rel="stylesheet" href="~/Assets/admin/libs/datepicker/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/Assets/admin/libs/datepicker/jquery-ui.min.css" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div id="wrapper">
        <header id="header" class="main-header">
            <!-- Logo--><a class="logo" href="@Url.Action("Index","HomeAdmin")">
                <!-- mini logo for sidebar mini 50x50 pixels--><span class="logo-mini"><b>A</b>LT</span>
                <!-- logo for regular state and mobile devices--><span class="logo-lg"><b>Admin</b>LTE</span>
            </a>
            <!-- Header Navbar: style can be found in header.less-->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button--><a class="sidebar-toggle" href="#" data-toggle="push-menu" role="button"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-envelope-o"></i><span class="label label-success">4</span></a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data-->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message--><a href="#">
                                                <div class="pull-left"><img class="img-circle" src="~/Assets/admin/images/user2-160x160.jpg" alt="User Image" /></div>
                                                <h4>Support Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message-->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img class="img-circle" src="~/Assets/admin/images/user3-128x128.jpg" alt="User Image" /></div>
                                                <h4>AdminLTE Design Team<small><i class="fa fa-clock-o"></i> 2 hours</small></h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img class="img-circle" src="~/Assets/admin/images/user4-128x128.jpg" alt="User Image" /></div>
                                                <h4>Developers<small><i class="fa fa-clock-o"></i> Today</small></h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img class="img-circle" src="~/Assets/admin/images/user3-128x128.jpg" alt="User Image" /></div>
                                                <h4>Sales Department<small><i class="fa fa-clock-o"></i> Yesterday</small></h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left"><img class="img-circle" src="~/Assets/admin/images/user4-128x128.jpg" alt="User Image" /></div>
                                                <h4>Reviewers<small><i class="fa fa-clock-o"></i> 2 days</small></h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less-->
                        <li class="dropdown notifications-menu">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-bell-o"></i><span class="label label-warning">10</span></a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data-->
                                    <ul class="menu">
                                        <li><a href="#"><i class="fa fa-users text-aqua"></i> 5 new members joined today</a></li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-users text-red"></i> 5 new members joined</a></li>
                                        <li><a href="#"><i class="fa fa-shopping-cart text-green"></i> 25 sales made</a></li>
                                        <li><a href="#"><i class="fa fa-user text-light-blue"></i> You changed your username</a></li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less-->
                        <li class="dropdown tasks-menu">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-flag-o"></i><span class="label label-danger">9</span></a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data-->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item--><a href="#">
                                                <h3>Design some buttons<small class="pull-right">20%</small></h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">20% Complete</span></div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item-->
                                        <li>
                                            <!-- Task item--><a href="#">
                                                <h3>Create a nice theme<small class="pull-right">40%</small></h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">40% Complete</span></div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item-->
                                        <li>
                                            <!-- Task item--><a href="#">
                                                <h3>Some task I need to do<small class="pull-right">60%</small></h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">60% Complete</span></div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item-->
                                        <li>
                                            <!-- Task item--><a href="#">
                                                <h3>Make beautiful transitions<small class="pull-right">80%</small></h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">80% Complete</span></div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item-->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all tasks</a></li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less-->
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><img class="user-image" src="~/Assets/admin/images/user2-160x160.jpg" alt="User Image" /><span class="hidden-xs">@sessionUser.FullName</span></a>
                            <ul class="dropdown-menu">
                                <!-- User image-->
                                <li class="user-header">
                                    <img class="img-circle" src="~/Assets/admin/images/user2-160x160.jpg" alt="User Image" />
                                    @if (@sessionUser.UserType == 1)
                                    {
                                        type = "Người Quản Trị";
                                    }
                                    else{
                                        type = "Nhân Viên";
                                    }
                                    <p>@sessionUser.FullName<small>@sessionUser.UserName - @type</small></p>
                                </li>
                                <!-- Menu Body-->
                                <li class="user-footer">
                                    <div class="pull-left"><a class="btn btn-default btn-flat" href="@Url.Action("Index","EditProfile")">Hồ sơ</a></div>
                                    <form id="form1" action="~/Login/SignOut" method="post">
                                        <div class="pull-right"><a class="btn btn-default btn-flat" href="javascript:;" onclick="document.getElementById('form1').submit()">Đăng xuất</a></div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button-->
                        <li><a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--#header-->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less-->
            <section class="sidebar">
                <!-- Sidebar user panel-->
                <div class="user-panel">
                    <div class="pull-left image"><img class="img-circle" src="~/Assets/admin/images/user2-160x160.jpg" alt="User Image" /></div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p><a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form-->
                <form class="sidebar-form" action="#" method="get">
                    <div class="input-group">
                        <input class="form-control" type="text" name="q" placeholder="Search..." /><span class="input-group-btn">
                            <button class="btn btn-flat" id="search-btn" type="submit" name="search"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form-->
                <!-- sidebar menu: : style can be found in sidebar.less-->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li><a href="@Url.Action("Index","HomeAdmin")"><i class="fa fa-dashboard"></i>Trang Chủ</a></li>
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlysinhvien))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-files-o"></i><span>Quản lý học sinh</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "StudentManagerment")"><i class="fa fa-circle-o"></i> Danh sách học sinh</a></li>
                                <li><a href="@Url.Action("AddStudent", "StudentManagerment")"><i class="fa fa-circle-o"></i> Thêm học sinh</a></li>
                            </ul>
                        </li>

                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlylophoc))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-files-o"></i><span>Quản lý lớp học </span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "ClassManagerment")"><i class="fa fa-circle-o"></i> Danh sách học sinh</a></li>
                                <li><a href="@Url.Action(" InsertView", "ClassManagerment" )"><i class="fa fa-circle-o"></i> Thêm học sinh</a></li>
                                <li><a href="@Url.Action("UpdateView", "ClassManagerment")"><i class="fa fa-circle-o"></i> Sửa học sinh</a></li>
                            </ul>
                        </li>

                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlykhoahoc))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-files-o"></i><span>Quản lý khóa học</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href="_tr-tu-khoa.html"><i class="fa fa-circle-o"></i> Thêm khóa học</a></li>
                            </ul>
                        </li>
                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlytintuc))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-th"></i><span>Tin tức</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href="@Url.Action("Index", "News")"><i class="fa fa-circle-o"></i>Tất cả các bài viết</a></li>
                                <li><a href="@Url.Action("AddMews", "News")"><i class="fa fa-circle-o"></i>Thêm mới tin tức</a></li>
                            </ul>
                        </li>
                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlygiaovien))
                    {
                        <li class="treeview"><a href="/Admin/TeacherManagerment/Index"><i class="fa fa-user"></i><span>Quản lý giáo viên</span></a></li>
                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlydangky))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-edit"></i><span>Quản lý đăng ký</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href=""><i class="fa fa-circle-o"></i>Tẩ cả đăng ký</a></li>
                            </ul>
                        </li>
                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlydoanhthu))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-folder"></i><span>Quản lý doanh thu</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href=""><i class="fa fa-circle-o"></i>Doanh thu theo tháng</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i>Tổng doanh thu</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i>Doanh thu từng lớp</a></li>
                            </ul>
                        </li>
                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlynhanvien))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-user"></i><span>Nhân viên</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href="/Admin/Employee"><i class="fa fa-circle-o"></i>Tất cả nhân viên</a></li>
                                <li><a href="/Admin/Employee/InsertEmployee"><i class="fa fa-circle-o"></i>Thêm nhân viên</a></li>
                                <li><a href="/Admin/Employee/DecentralizationEmployee"><i class="fa fa-circle-o"></i>Phân quyền</a></li>
                            </ul>
                        </li>
                    }
                    @if (sessionRole.Contains((int)CentManagerment.Areas.Admin.Common.CommonEnum.Role.Quanlytuychinh))
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-folder"></i><span>Thiết lập</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a>
                            <ul class="treeview-menu">
                                <li><a href="thietlap.html"><i class="fa fa-circle-o"></i>Tổng quan</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </section>
            <!-- /.sidebar-->
        </aside>
        <!-- render body-->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs"><b>Version</b> 2.4.0</div><strong>Copyright © 2014-2019 <a href="https://facebook.com/dunghorn.net">ASP 3F Group</a>.</strong> All rights
            reserved.
        </footer>

        <!--
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
        -->
    </div>
    <!--#wrapper-->
    <!--JS-->
    <!-- jQuery 3-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7-->
    <script src="~/Assets/admin/libs/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery-ui-->
    <script src="~/Assets/admin/libs/datepicker/jquery-ui.js"></script>
    <!-- Slimscroll-->
    <script src="~/Assets/admin/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick-->
    <script src="~/Assets/admin/libs/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="~/Assets/admin/libs/adminlte/adminlte.min.js"></script>
    <script src="~/Assets/admin/libs/validation/validation.js"></script>
    <script src="~/Assets/admin/js/validation.js"></script>
    <script src="~/Assets/notify.js"></script>
    @*<script src="~/Assets/admin/js/JavaScript.js"></script>*@
    @*<script src="~/Assets/admin/js/validation.js"></script>*@
    <script src="~/Assets/admin/js/dat.js"></script>
    <!-- AdminLTE for demo purposes-->
    <script src="~/Assets/admin/js/script.js"></script>
    <script src="~/Assets/ClassJs.js"></script>
    <script src="~/Assets/admin/js/ajaxTeacher.js"></script>
    <script src="~/Assets/admin/js/Quangjs.js"></script>

</body>
</html>
