@using CentManagerment.BU.DTO
@{
    ViewBag.Title = "3 Chàng Ngốc";

    var ListNews = (List<NewsDTO>)ViewBag.ListNews;
}

<!-- Start popular-course Area -->
<section class="popular-course-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Các khóa học</h1>
                    <p>There is a moment in the life of any aspiring.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p1.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N5
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p2.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N4
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N3
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N2
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p1.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N5 part 2
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p2.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N4 part 2
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p3.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N3 part 2
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
                <div class="single-popular-carusel">
                    <div class="thumb-wrap relative">
                        <div class="thumb relative">
                            <div class="overlay overlay-bg"></div>
                            <img class="img-fluid" src="~/Assets/client/img/p4.jpg" alt="">
                        </div>
                        <div class="meta d-flex justify-content-between">
                            <p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
                            <h4>$150</h4>
                        </div>
                    </div>
                    <div class="details">
                        <a href="#">
                            <h4>
                                Khóa học N2 part 2
                            </h4>
                        </a>
                        <p>
                            When television was young, there was a hugely popular show based on the still popular fictional characte
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End popular-course Area -->
<!-- Start blog Area -->
<section class="blog-area section-gap" id="blog">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Các tin tức mới nhất</h1>
                    <p>In the history of modern astronomy there is.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-popular-carusel">
                @if (ListNews != null)
                {
                    foreach (var newdto in ListNews)
                    {
                        <div class="single-blog single-popular-carusel">
                            <div class="thumb">
                                @if (string.IsNullOrEmpty(newdto.NewsAvatar))
                                {

                                    <img class="img-fluid" src=" ~/Assets/client/img/b1.jpg" alt="" style="height: 180px;">
                                }
                                else
                                {
                                    <img class="img-fluid" src="@newdto.NewsAvatar" alt="" style="height: 180px;">
                                }
                            </div>
                            <p class="meta">@newdto.NewsPostDate || By @newdto.NewsNameUserPost</p>
                            <a href="@Url.Action("DetailsNew", "Home", new { id = Common.GenerateUrl.GenerateSlug(newdto.NewsTitle, newdto.NewsId) })">
                                <h5>@newdto.NewsTitle</h5>
                            </a>
                            <p>
                                @newdto.NewsShortContent
                            </p>
                            <a href="@Url.Action("DetailsNew", "Home", new { id = Common.GenerateUrl.GenerateSlug(newdto.NewsTitle, newdto.NewsId) })" class="details-btn d-flex justify-content-center align-items-center">
                                <span class="details">Chi tiết</span><span class="lnr lnr-arrow-right"></span>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
<!-- End blog Area -->