@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listUser = (List<CentManagerment.BU.DTO.UserManagerDTO>)ViewBag.ListUser;
    var dem = 0;
    var somuc = 0;
}
@foreach (var item in listUser)
{
    somuc++;
}
<div class="content-header content-header-wrap">
    <h1 class="fleft">Nhân viên</h1><a class="btn--primary__edit btn--add" href="@Url.Action("InsertEmployee","Employee")">Thêm mới</a>
    <div class="clearfix"></div>
</div>
<section class="nhanvien" id="nhanvien">
    <!--.section-top3-wrap-->
    <div class="section-top2 section-top2-wrap">
        <div class="row-section">
            <span class="total-file"><span class="total--title">Tổng số:</span><span class="total-file2">@somuc </span>Tài khoản</span>
        </div>
    </div>
    <div class="list-rent__content section-table table-extend doanhnghiep__table">
        <table>
            <tr>
                <th>
                    STT
                </th>
                <th>Mã NV</th>
                <th>Họ Tên</th>
                <th>Tài khoản</th>
                <th>Vai trò</th>
                <th>Số điện thoại</th>
                <th>Tùy chọn</th>
            </tr>
            @foreach (var item in listUser)
            {
                var type = "";
                if (item.UserType.Equals(1))
                {
                    type = "Quản Trị Viên";
                }
                else
                {
                    type = "Nhân Viên";
                }
                <tr class="userPanel">
                    <td>
                        @(dem+1)
                    </td>
                    <td>@item.UserId</td>
                    <td>@item.FullName</td>
                    <td>@item.UserName</td>
                    <td>@type</td>
                    <td>@item.UserPhoneNumber</td>
                    <td>
                        <span class="icon-menu">
                            <i class="fa fa-plus-circle"></i>
                            <ul>
                                <li>Sửa</li>
                                <li class="deleteUser">Xóa</li>
                            </ul>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="row-edit row-edit2 white disabled editUserPanel" colspan="10">
                        <div class="text-left">
                            <h3>Chỉnh sửa @type<span> @item.FullName</span></h3>
                            <input type="hidden" class="UserName" value=" @item.UserName" />
                            <input type="hidden" class="UserId" value=" @item.UserId" />
                            <form class="form__table--detail" action="">
                                <div class="form__table--content">
                                    <div class="form__table-col-33">
                                        <label for="">Mã nhân viên:</label><span>@item.UserId</span>
                                    </div>
                                    <div class="form__table-col-33">
                                        <label for="">Tên tài khoản:</label><span>@item.UserName</span>
                                    </div>
                                    <div class="form__table-col-33">
                                        <label for="">Vai trò:</label>
                                        @if (item.UserType.Equals(1))
                                        {
                                            <select class="UserType">
                                                <option value="">--Chọn vai trò--</option>
                                                <option value="1" selected>Quản trị viên</option>
                                                <option value="2">Nhân viên</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select class="UserType">
                                                <option value="">--Chọn vai trò--</option>
                                                <option value="1">Quản trị viên</option>
                                                <option value="2"selected>Nhân viên</option>
                                            </select>
                                        }
                                    </div>
                                    <div class="form__table-col-6">
                                        <label for="">Họ Và Tên:</label>
                                        <input type="text" class="FullName" value="@item.FullName" />
                                    </div>
                                    <div class="form__table-col-6">
                                        <label for="">Số điện thoại:</label>
                                        <input type="text" class="UserPhoneNumber" value="@item.UserPhoneNumber" />
                                    </div>
                                    <div class="form__table-col-6">
                                        <label for="">Mật khẩu mới:</label>
                                        <input type="password" class="UserPassword" />
                                    </div>
                                </div>
                                <div class="fixed__button text-right">
                                    <input type="reset" value="Hủy" class="cancelEditUser" />
                                    <input type="button" value="Lưu chỉnh sửa" onclick="EditUserManager(@dem)" />
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
                dem++;
            }
        </table>
        <div class="list-rent__bottom">
            <div class="list-rent__bottom--content section-buttons text-right">
                <span class="total-file">@somuc mục</span>                
                <button><i class="fa fa-angle-double-left"></i></button>
                <button><i class="fa fa-angle-left"></i></button><span>1 trên 8</span>
                <button><i class="fa fa-angle-right"></i></button>
                <button><i class="fa fa-angle-double-right">     </i></button>
            </div>
        </div>
    </div>
</section>

