@{
    ViewBag.Title = "Sửa thông tin cá nhân";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var sessionUser = (CentManagerment.BU.DTO.UserManagerDTO)Session[CentManagerment.BU.Common.CommonUserLogin.USER_SESSION];
    var type = "Nhân Viên";
}

<section class="nhanvien-chinhsua" id="nhanvien-chinhsua">
    <div class="nhanvien-chinhsua__header">
        <h2>Chỉnh sửa thông tin cá nhân</h2>
    </div>
    <div class="nhanvien-chinhsua__content" id="EditProfilePanel">
        <form id="edit-profile" action="">
            <input type="hidden" name="name" class="UserId" value="@sessionUser.UserId" />
            <div class="form-group nhanvien-chinhsua__input">
                <label class="fleft">Tên tài khoản</label>
                <div class="input-box fleft">
                    <input class="form-control UserName" type="text" value="@sessionUser.UserName" readonly />
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="form-group nhanvien-chinhsua__input">
                <label class="fleft">Họ và tên</label>
                <div class="input-box fleft">
                    <input class="form-control FullName" type="text" name="name" value="@sessionUser.FullName" />
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="form-group nhanvien-chinhsua__input">
                <label class="fleft">Số điện thoại</label>
                <div class="input-box fleft">
                    <input class="form-control UserPhoneNumber" type="text" name="name" value="@sessionUser.UserPhoneNumber" />
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="form-group nhanvien-chinhsua__input">
                <label class="fleft">Mật khẩu</label>
                <div class="input-box fleft">
                    <input class="form-control UserPassword" type="password" name="pass" />
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="form-group nhanvien-chinhsua__input">
                <label class="fleft">Nhập lại mật khẩu</label>
                <div class="input-box fleft">
                    <input class="form-control RePassword" type="password" name="pass2" />
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="form-group nhanvien-chinhsua__input">
                <label class="fleft">Vai trò</label>
                <div class="input-box fleft">
                    @if (sessionUser.UserType == 1)
                    {
                        type = "Quản trị viên";
                    }
                    <input class="form-control" type="text" name="type" readonly value="@type" />
                    <input type="hidden" name="name" value="@sessionUser.UserType" class="UserType" />
                </div>
                <div class="clear-fix"></div>
            </div>
            <div class="nhanvien-chinhsua__btn">
                <button class="btn btn-primary btn--luu" type="button" id="btn_EditProfile">Cập nhật</button>
                <button class="btn btn-primary btn--xoa" type="reset">Hủy</button>
            </div>
        </form>
    </div>
</section>

