
@model PagedList.IPagedList<CentManagerment.BU.DTO.StudentDTO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quản lý học sinh || Danh sách học sinh";
    ViewBag.Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var usersession = (CentManagerment.BU.DTO.UserManagerDTO)Session[CentManagerment.BU.Common.CommonUserLogin.USER_SESSION];
}

@{
    <h1 class="fleft">Danh sách học sinh</h1><a class="btn--primary__edit btn--add" href="@Url.Action("AddStudent","StudentManagerment")">Thêm mới</a>
}
<div class="clearfix"></div>
<section class="nhanvien" id="nhanvien">
    <div class="section-top3 section-top3-wrap">
        <div class="section-top3__content">
            <div class="row-section">
                <div class="section-top3__control">
                    <form action="" name="control">
                        <div class="form__row-top">
                            <div class="form__row-top__item">
                                <input class="border--base padding" type="text" placeholder="Từ khóa tìm kiếm">
                            </div>

                            <div class="form__row-top__item">
                                <input class="submit-control border--base" type="submit" value="Lọc">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--.section-top3-wrap-->
    <div class="list-rent__content section-table table-extend doanhnghiep__table">
        <table>
            <tbody>
                <tr>
                    <th>Mã học sinh</th>
                    <th>Họ tên</th>
                    <th> Số điện thoại</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Điểm</th>
                    <th>Học phí (VNĐ)</th>
                    <th>Lớp</th>
                    <th>Xác nhận đóng tiền</th>
                    <th>Tùy chọn</th>
                </tr>
                @if (Model != null)
                {
                    foreach (var st in Model)
                    {
                        <tr>
                            <td>@st.StudentId</td>
                            <td>@st.StudentName</td>
                            <td>@st.StudentPhone</td>
                            <td><span>@st.StudentEmail</span></td>
                            <td>@st.StudentAdress</td>
                            <td>@st.StudentMark</td>
                            <td>@st.StudentSchoolFee</td>
                            <td>@st.StudentClassID</td>
                            <td>
                                @if (st.StudentSchoolFeeStatus == true)
                                {
                                    <span>Đã nhận</span>
                                }
                                else
                                {
                                    <span>Chưa nhận</span>
                                }
                            </td>
                            <td>
                                <span class="icon-menu">
                                    <i class="fa fa-plus-circle"></i>
                                    <ul class="">
                                        <li>Sửa nhanh</li>
                                        <li class="deleteuser" id="deleteuser-@st.StudentId">Xóa</li>
                                    </ul>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="row-edit row-edit2 white disabled" colspan="10">
                                <div class="text-left">
                                    <h3>Chỉnh sửa học sinh: <span>@st.StudentName</span></h3>
                                    @using (Html.BeginForm())
                                    {
                                        //<form class="form__table--detail" action="">
                                        @Html.AntiForgeryToken()
                                        <div class="form__table--content">
                                            <div class="form__table-col-6">
                                                <label for="">Mã học sinh:</label><span style="font-size: 14px">@st.StudentId</span>
                                            </div>
                                            <div class="form__table-col-6">
                                                <label for="">Họ tên:</label>
                                                <input type="text" value="@st.StudentName" id="stname-@st.StudentId">
                                            </div>
                                            <div class="form__table-col-6">
                                                <label for="">Địa chỉ:</label>
                                                <input type="text" value="@st.StudentAdress" id="staddress-@st.StudentId">
                                            </div>
                                            <div class="form__table-col-6">
                                                <label for="">Số điện thoại:</label>
                                                <input type="text" value="@st.StudentPhone" id="stphone-@st.StudentId">
                                            </div>
                                            <div class="form__table-col-6">
                                                <label for="">Email:</label>
                                                <input type="text" value="@st.StudentEmail" id="stmail-@st.StudentId">
                                            </div>
                                            <div class="form__table-col-6">
                                                <label for="">Điểm:</label>
                                                <input type="text" value="@st.StudentMark" id="stmark-@st.StudentId">
                                            </div>
                                            <div class="form__table-col-6">
                                                <label for="">Học phí:</label>
                                                <input type="text" value="@st.StudentSchoolFee" id="stschoolfee-@st.StudentId">
                                            </div>
                                            <div class="form__table-col-6">
                                                <label for="">Xác nhận nộp tiền:</label>
                                                @if (usersession.UserType == 1)
                                                {
                                                    <select id="ststatus-@st.StudentId">
                                                        @if (st.StudentSchoolFeeStatus == true)
                                                        {
                                                            <option value="false">False</option>
                                                            <option value="true" selected>True</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="false" selected>False</option>
                                                            <option value="true">True</option>
                                                        }

                                                    </select>
                                                }
                                                else
                                                {
                                                    <select id="ststatus-@st.StudentId" disabled>
                                                        @if (st.StudentSchoolFeeStatus == true)
                                                        {
                                                            <option value="false">False</option>
                                                            <option value="true" selected>True</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="false" selected>False</option>
                                                            <option value="true">True</option>
                                                        }

                                                    </select>
                                                }
                                            </div>
                                        </div>
                                        <div class="fixed__button text-right">
                                            <input type="button" value="Hủy">
                                            <input type="submit" value="Lưu chỉnh sửa" id="updateuser-@st.StudentId" class="updateuser">
                                        </div>
                                        //</form>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }

                <h2>Index</h2>
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.searchString }))
    </div>
</section>

